.ButtonPanel {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 100px;
}

.ButtonPanel div:nth-child(17) {
  grid-column: 1 / span 2;
}
.app {
  width: 700px;
}

.displayComponent {
  background-color: gray;
  height: 100px;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: orange;
  border: solid black 0.5px;
}
