.ButtonPanel {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 100px;
}

.app {
  width: 700px;
  margin: 0 auto;
}

.displayComponent {
  background-color: gray;
  height: 70px;
  padding: 20px 20px 0 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.2rem;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid black 0.5px;
}
